.arcadePage {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.arcadeInfo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    height: 10vh;
    width: 50vw;
    z-index: 1;
    padding: 1em;
}

.arcadeTitle {
    font-size: 2rem;
    color: #ffd700;
    @media (max-width: 1000px) {
        display: none;
    }
    @media (max-height: 900px) {
        display: none;
    }
}

.Arcade {
    position: absolute;
    width: 75vw;
    height: 80vh;
    left: 50%;
    top: 50%;
    transform: translate(-48%, -50%);
    @media (max-width: 1000px) {
        display: none;
    }
    @media (max-height: 900px) {
        display: none;
    }
}

.phoneArcade {
    font-size: 24px;
    display: none;
    color: white;
    width: 65vw;
    
    @media (max-width: 1000px) {
        display: block;
    }
    @media (max-height: 900px) {
        display: block;
    }

}