.rankingsPage {
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .rankingsTitleDiv {
        position: relative;
        text-align: center;

        .rankingPageTitle {
            color: whitesmoke;
            font-size: 4rem;
        }
    }

    .itemsDiv {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        width: 80vw;

        // .buttonDiv {
        //     position: relative;
        //     width: 10%;
        //     display: flex;
        //     justify-content: center;
        //     .addItemButton {
        //         position: relative;
        //         width: 2em;
        //         height: 2em;
        //         font-size: 2rem;
        //     }
        // }

        .formDiv {
            display: flex;

            .itemForm {
                display: flex;
                flex-direction: column;
            }
        }

        .itemsListDiv {
            
            .newItemsList {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 10px;
            }
            .itemPic {
                position: relative;
                width: auto;
                height: 8vh;
            }
        }

        // .itemTitle {
        //     color: whitesmoke;
        //     width: 8vw;
        // }

    }

    .rankingTiersDiv {

        .rankingsList {
            height: auto;
            width: 80vw;
        }

        .tier {
            position: relative;
            height: 9vh;
            display: flex;
            align-items: center;
            margin: 1em;
            opacity: 90%;
        }

        h2 {
            position: relative;
            color: black;
            font-size: 4rem;
            left: 2vw;
        }
    }
}