.App {
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
}
.page {
    position: relative;
    overflow-y: auto;
    display: flex;
    flex: 1; 
}


.top-tags {
    bottom: auto;
    top: 35px;
    @media (max-width: 768px){
        display: none;
    }
} 

.tags {
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 4vmin;
    font-size: 18px;
    font-family: 'La Belle Aurore'
}

.bottom-tags {
    @media (max-width: 768px){
        display: none;
    }
}

.bottom-tag-html {
    margin-left: -20px;
    @media (max-width: 768px){
        display: none;
    }
}