.ProjectsPage {
    display: flex;
    width: 100%;
    height: auto;
    overflow: auto;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    flex-direction: column;
    font-family: 'Helvetica';
}

.BipolarProject {
    position: relative;
    display: flex;
    background-color: #07180E;
    align-items: center;
    height: 44vmax;
    width: 100%;
    overflow: hidden;
    opacity: 1;
    animation: fadeOpacity 0.5 0.75s backwards;
}

.StaleFishProject {
    position: relative;
    display: flex;
    background-color: #07180E;
    align-items: center;
    height: 44vmax;
    width: 100%;
    overflow: hidden;
    opacity: 1;
    animation: fadeOpacity 0.5 0.75s backwards;
    // animation: fadeOpacity 0.75s 1s backwards;
}

.ArcadeProject {
    position: relative;
    display: flex;
    background-color: #07180E;
    align-items: center;
    height: 44vmax;
    width: 100%;
    overflow: hidden;
    opacity: 1;
    animation: fadeOpacity 0.5 0.75s backwards;
    // animation: fadeOpacity 1s 1.25s backwards;
}

.ProjectVideoBackground {
    height: 90%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    opacity: 50%;
}

.ProjectVideoBackgroundBipolar {
    height: 90%;
    width: 100%;
    object-fit: cover;
    opacity: 50%;
}

.ProjectImage {
    width: 12vmin;
    height: 12vmin;
}

.ProjectsTitle {
    position: absolute;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}

.ProjectsTitle:hover {
    transform: scale(2.5);
    transition: 0.3s ease-in-out;
    opacity: 75%;
    background-color: #0c3e21;
}

.ProjectLink {
    position: absolute;
    height: 100%;
    width: 100%;
}

@media (min-width: 1366px) {
    .BipolarProject {
        height: 24vmax;
    }
    .StaleFishProject {
        height: 24vmax;
    }
    .ArcadeProject {
        height: 24vmax;
    }
}