.home-page {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-zone {
    // position: absolute;
}
.HeaderAnimation {
    color: #fff;
    font-size: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    animation: fadeIn .8s 1.4s backwards;

    &::before {
        content: '<h1>';
        font-family: 'La Belle Aurore';
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        animation: fadeIn 1.4s 2.4s backwards;
    }

    &::after {
        content: '</h1>';
        font-family: 'La Belle Aurore';
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        animation: fadeIn 1.4s 2.4s backwards;
    }
}
.flat-button {
    color:#ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 1rem;
    border: 1px solid #ffd700;
    float: left;
    animation: fadeIn 2.6s 3.4s backwards;
    white-space: nowrap;
}

.projectImg {
    animation: fadeIn 3.8s 4.2s backwards;
}